@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, system-ui, sans-serif;
  }
}
html, body, label {
  font-family: 'Roboto', sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
   /* overflow-x: hidden;  */
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

table{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}